[submodule "api/v1/vendor/github.com/gogo/protobuf"]
	path = api/v1/vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "api/v1/vendor/github.com/pquerna/ffjson"]
	path = api/v1/vendor/github.com/pquerna/ffjson
	url = https://github.com/pquerna/ffjson
[submodule "api/v1/cmd/vendor/github.com/pborman/uuid"]
	path = api/v1/cmd/vendor/github.com/pborman/uuid
	url = https://github.com/pborman/uuid
[submodule "api/v1/cmd/vendor/github.com/prometheus/client_golang"]
	path = api/v1/cmd/vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "api/v1/cmd/vendor/github.com/prometheus/common"]
	path = api/v1/cmd/vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "api/v1/cmd/vendor/github.com/prometheus/procfs"]
	path = api/v1/cmd/vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "api/v1/cmd/vendor/github.com/golang/protobuf"]
	path = api/v1/cmd/vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "api/v1/cmd/vendor/github.com/prometheus/client_model"]
	path = api/v1/cmd/vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "api/v1/cmd/vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = api/v1/cmd/vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "api/v1/cmd/vendor/github.com/beorn7/perks"]
	path = api/v1/cmd/vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
